body{
    margin: 0;
    padding: 0;
    height: 100vh;
    
}
main
{
    display: flex;
    height: 100%;
}
#left{
    background-color: lightgreen;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#right{
    background-color: greenyellow;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
table {
    border-collapse: collapse;
}
tr, th, td {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;
}

header {
    background-color: green;
    padding: 10px;
    text-align: right;
    
    font-weight: bold;
}
input, button {
  background-color: darkgreen;
  border: 1px solid black;
  width: 10vw;
  color: white;
  
}